
  <md-toolbar layout="row" class="md-toolbar-tools">
    <h1>Find Jobs</h1>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="/img/icons/ic_more_vert_black_24px.svg"></md-icon>
    </md-button>
  </md-toolbar>

  <md-content class="narrow-content" layout-padding>

    <form name="searchForm" ng-submit="$ctrl.search()">

      <md-input-container class="md-block" flex-gt-xs>
        <label>search for skill, language, location etc.</label>
        <input ng-model="$ctrl.searchTerm">
      </md-input-container>

      <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ng-click="$ctrl.search()">Search</md-button>
      </div>
    </form>

    <md-list class="hacker-list" ng-show="$ctrl.hackers" flex>
      <md-subheader class="hacker-list-title md-no-sticky">Results</md-subheader>
      <md-list-item class="hacker-list-item md-3-line " ng-repeat="user in $ctrl.hackers" ng-click="null">
        <img ng-src="{{user.avatar_url}}" class="md-avatar" alt="{{user.login}}" />
        <div class="md-list-item-text" layout="column">
          <h3 class="hacker-name">{{ user.login }}</h3>
          <ul class="hacker-labels">
            <li ng-repeat="label in user.labelsLanguage" class="hacker-label hacker-label--language hacker-label--score-{{ label.score }}">{{ label.name }}</li>
            <li ng-repeat="label in user.labelsCity" class="hacker-label hacker-label--city hacker-label--score-{{ label.score }}">{{ label.name }}</li>
          </ul>
        </div>
        <div layout="row" layout-xs="column" class="list-scores">
          <md-progress-circular ng-disabled="!vm.activated" md-diameter="40"></md-progress-circular>
          <div>
            <div class="list-score list-score--tech">
              <span class="list-score-title">tech</span>
              {{ user.techScore }}
            </div>
            <div class="list-score list-score--social">
              <span class="list-score-title">social</span>
              {{ user.socialScore }}
            </div>
          </div>
        </div>
        <div>
          <md-icon md-svg-icon="/img/icons/ic_keyboard_arrow_right_black_24px.svg"></md-icon>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>

    </md-list>

  </md-content>
