
<div layout="row" layout-xs="column" flex ng-hide="$ctrl.hackerLogged || $ctrl.recruiterLogged">
  <div flex layout="column" layout-align="space-between" class="hero-box hero-box--recruiter">
    <h2>Are you a recruiter?</h2>
    <div>
      <md-button class="md-raised md-primary" ng-click="$ctrl.loginToGithub()">Sign up</md-button>
    </div>
  </div>
  <div flex layout="column" layout-align="space-between" class="hero-box hero-box--hacker">
    <h2>Are you a hacker?</h2>
    <div>
      <md-button class="md-raised" ng-click="$ctrl.loginToGithub('hacker')">Sign up</md-button>
    </div>
  </div>
</div>

<recruiter ng-show="$ctrl.recruiterLogged"/>

<div ng-show="$ctrl.hackerLogged">
  Hello, {{$ctrl.user.providerData[0].displayName}}
</div>
