  <md-toolbar layout="row" class="md-toolbar-tools">
    <h1>Find Jobs</h1>
  </md-toolbar>

  <md-content layout-padding>

    <form name="searchForm">

      <md-input-container class="md-block" flex-gt-xs>
        <label>search for skill, language, location etc.</label>
        <input ng-model="searchTerm">
      </md-input-container>

      <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary">Search</md-button>
        or
        <md-button class="md-raised md-primary" ng-click="$ctrl.loginToGithub()">Login</md-button>
      </div>
    </form>

    <md-list>

      <md-list flex>
        <md-subheader class="md-no-sticky">Results</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="null">
          <img ng-src="{{user.img}}" class="md-avatar" alt="{{user.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ user.name }}</h3>
            <h4>{{ user.bio }}</h4>
            <md-chips>
              <md-chip ng-repeat="label in labels">{{ label }}</md-chip>
            </md-chips>
          </div>
        </md-list-item>

      {{test}}

    </md-list>
      <recruter/>
  </md-content>

